<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".SpeedometerApp"
        android:allowBackup="true"
        android:label="Speedometer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".RideRecorderService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <activity android:name=".RideReplayActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".HistoryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MainActivityV2" android:resizeableActivity="true" android:exported="true" android:supportsPictureInPicture="true" android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
